<% provide(:title, "About") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> </title>
  </head>
  <body>
    <h1>About</h1>
    <p>
      This is a place where music lovers can unite. Review your favorite albums, post music news and pictures. Follow other users who post cool and interesting stuff. 
    </p>
  </body>
</html>