<% provide(:title, "About") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> </title>
  </head>
  <body>
    <h1>About</h1>
    <p>
      This is a place for lovers of fruity alcohol can unite. Review your favorites and interact with other users. Lets be honest beer tastes gross, fruit beer is a-mazing.
    </p>
  </body>
</html>