<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
  Got a problem? Someone not being cool? A suggestion? Compliment? Send us an email <a href='mailto:admin@10milestereo.com'>admin@10milestereo.com
</p>