
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> </title>
  </head>
  <body>
  	<div class = "center jumbotron">

	    <h1>I heart Fruit....</h1>
	    <h2>Beers, Ales, Stouts, and Ciders</h2>
	    <%= link_to "Sign up Now!", signup_path, class: 'btn btn-lg btn-primary' %>
  	</div>
  </body>
</html>
